@model IEnumerable<MedicosRX.Models.Roles>

@{
    ViewBag.Title = "RolesView";
}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Roles List</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Doctors</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Role List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-topline-red">
                                        <div class="card-head">
                                            <header></header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                @*<a class="t-close btn-color fa fa-times" href="javascript:;"></a>*@
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="btn-group">
                                                        <a href="~/Doctor/CreateDoctor" id="addRow" class="btn btn-info">
                                                            Add New <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="table-scrollable" style="margin-left:40px;">
                                                <table class="table table-hover table-checkable order-column full-width" id="example4" style="width:90%">
                                                    <thead>
                                                        <tr>
                                                            <th width="150px;">RoleId </th>
                                                            <th>RoleName </th>
                                                             <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (MedicosRX.Models.Roles item in Model)
                                                        {


                                                            <tr>

                                                                <td><a href="~/Doctor/GetDoctorbyId/?DoctorId=@item.RoleId">@Html.DisplayFor(model => item.RoleId)</a></td>
                                                                <td>@Html.DisplayFor(model => item.RoleName)</td>
                                                               

                                                                <td>
                                                                    <a href="~/Doctor/EditDoctor/@item.RoleId" class="btn btn-primary btn-xs">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a href="~/Doctor/DeleteDoctorbyId?DoctorId=@item.RoleId" class="btn btn-danger btn-xs">
                                                                        <i class="fa fa-trash-o "></i>
                                                                    </a>
                                                                    @*@Html.ActionLink("< i class=fa fa-pencil></i>", "EditDoctor", new { id = item.DoctorId }, new { @class="btn btn - primary btn - xs" })
                                                                        @Html.ActionLink("Delete", "DeleteDoctor", new { id = item.DoctorId }, new { @class = "btn btn-primary" })*@


                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
