
@{
    ViewBag.Title = "CreatePatientReceipt";
}

<h2>Patient Receipt</h2>

<div class="col-md-12" style="margin-left:50px">
    <span>
        DARULSHIFA POLY CLINIC
    </span><br>
    <span class="addresslbl">
        <b>Lab and Medical Facility Available Here,</b>
    </span><br>
    <span class="addresslbl"><b>Hno:4-18-26/A,Opp. Noorani Masjid,</b></span><br>
    <span class="addresslbl"><b>Hassan Nagar,Hyderabad.</b></span>
    <hr />
</div>